<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <title>Dashboard - Alerts & Notifications</title>
  <link rel="stylesheet" href="/css/alerts.css">
</head>
<body>
  <%- include('./partials/sidebar.ejs') %>

  <div class="main-content">
    <h1>Notifications</h1>

      
      <% for( let i = 0; i < alerts.length-1; i++ ) { %>
        <div class="notification-box">
          <p><%= alerts[i] %></p>
        </div>
      <% } %>
        
  </div>
</body>
</html>
